<%# ユーザーマイページ %>


<%= render partial:"/photos/header"%>

<div class="mypage">

  <div class="mypage-user">
    <% if user_signed_in? %>
    <%= image_tag "#{current_user.image}" ,class:"mypage-user-image" %>

    <div class="mypage-user-detail">
      <div class="mypage-user-detail-name">
      username<br>
      <%= current_user.name %>
      </div>

      <div class="mypage-user-detail-camera">
      camera<br>
      <%= current_user.camera %>
      </div>

      <div class="mypage-user-detail-lens">
      lens<br>
      <%= current_user.lens %>
      </div>

      <div class="mypage-user-detail-howto">
      howto<br>
      <%= link_to "#{current_user.url}" %>
      </div>

    <% end %>

    </div>

    <%= link_to "/users/#{current_user.id}/edit" do%>
    <i class="fas fa-edit" id="user-detail-edit"></i>
    <% end %>



  </div>


  <div class="main-photo">
    <div class="main-photo-index">

    <% @photos.each do |photo|%> 
      <% if photo.present? %>
        <%= link_to "/photos/#{photo.id}" do%>
          <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%> 
        <% end %>
      <% else %>
        <div class="main-photo-index-sample">
          <p class="main-photo-index-sample-text">ptotos<br><br>no image</p>
        </div>
      <% end %>

    <% end %>

      
    </div>
  </div>
  <%# <% end %> 

  </div>

</div>
<%= render partial:"/photos/footer" %>