<%= render partial:"header"%>

<%# <div class="making">すいません<br>製作中です</div> %>

  <div class="menu-header">
  <%# idはJS発火用 %>
    <div class="menu-header-tab" id="camera-canon">
      <span class="menu-header-tab-text"><i class="fas fa-camera"></i>　canon</span>
    </div>

    <div class="menu-header-tab" id="camera-nikon">
      <span class="menu-header-tab-text"><i class="fas fa-camera"></i>　nikon</span>
    </div>

    <div class="menu-header-tab" id="camera-sony">
      <span class="camera-header-tab-text"><i class="fas fa-camera"></i>　sony</span>
    </div>

    <div class="menu-header-tab" id="camera-fujifilm">
      <span class="menu-header-tab-text"><i class="fas fa-camera"></i>　fujifilm</span>
    </div>

    <div class="menu-header-tab" id="camera-pentax">
      <span class="menu-header-tab-text"><i class="fas fa-camera"></i>　pentax</span>
    </div>

    <div class="menu-header-tab" id="camera-smartphone">
      <span class="menu-header-tab-text"><i class="fas fa-camera"></i>　スマホ</span>
    </div>

    <div class="menu-header-tab" id="camera-ext">
      <span class="menu-header-tab-text"><i class="fas fa-camera"></i>　その他</span>
    </div>
  </div>


<div class="main">

  <div class="main-camera">
    <div class="main-camera-index">

      <%= link_to "", class:"main-camera-index-text" do %>
      canonでの作例
      <% end %>

    </div>
      <% @canon.each do |photo| %>
        <%= link_to "/photos/#{photo.id}" do%>
          <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%>
        <% end %>
      <% end %>

    <div class="main-camera-index">
      <%= link_to "", class:"main-camera-index-text" do %>
      nikonでの作例
      <% end %>
    </div>
      <% @nikon.each do |photo| %>
        <%= link_to "/photos/#{photo.id}" do%>
          <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%>
        <% end %>
      <% end %>

    <div class="main-camera-index">
      <%= link_to "", class:"main-camera-index-text" do %>
      sonyでの作例
      <% end %>
    </div>
      <% @sony.each do |photo| %>
        <%= link_to "/photos/#{photo.id}" do%>
          <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%>
        <% end %>
      <% end %>

    <div class="main-camera-index">
      <%= link_to "", class:"main-camera-index-text" do %>
      fujifilmでの作例
      <% end %>
    </div>
      <% @fujifilm.each do |photo| %>
        <%= link_to "/photos/#{photo.id}" do%>
          <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%>
        <% end %>
      <% end %>

    <div class="main-camera-index">
      <%= link_to "", class:"main-camera-index-text" do %>
      pentaxでの作例
      <% end %>
    </div>
      <% @pentax.each do |photo| %>
        <%= link_to "/photos/#{photo.id}" do%>
          <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%>
        <% end %>
      <% end %>

    <div class="main-camera-index">
      <%= link_to "", class:"main-camera-index-text" do %>
      スマホでの作例
      <% end %>
    </div>
      <% @smartphone.each do |photo| %>
        <%= link_to "/photos/#{photo.id}" do%>
          <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%>
        <% end %>
      <% end %>

    <div class="main-camera-index">
      <%= link_to "", class:"main-camera-index-text" do %>
      その他カメラでの作例
      <% end %>
    </div>
      <% @ext.each do |photo| %>
        <%= link_to "/photos/#{photo.id}" do%>
          <%= image_tag "#{photo.images[0].image}", class:"main-photo-index-photo2"%>
        <% end %>
      <% end %>


  </div>
</div>


<%= render partial:"footer"%>